{% extends 'base.html' %}

{% comment %} {% block navbar %}
<ul class="main-nav nav navbar-nav">
	<li class="active"><a href="{% url 'home' %}">Home</a></li>
	<li><a href="{% url 'home' %}">Lojas</a></li>
	<li><a href="{% url 'home' %}">Categorias</a></li>
</ul>
{% endblock %} {% endcomment %}

{% block  categories %}
	<form id="form" method="get" action="." >
	<div class="aside">
		<div class="aside" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			<h3 class="aside-title" >Categorias<i class="fa fa-plus" style="float: right; margin-right: 50px;"></i></h3>
		</div>
		<div id="collapseOne" class="checkbox-filter collapse in">
			{% for category in myform.category %}
			<div class="input-checkbox">
				{{ category.tag }}
				<label for="{{ category.id_for_label }}">
					<span></span>
					{{ category.choice_label }}
				</label>
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="aside">
		<div class="aside" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			<h3 class="aside-title" >Lojas<i class="fa fa-plus" style="float: right; margin-right: 50px;"></i></h3>
		</div>
		<div id="collapseTwo" class="checkbox-filter collapse in">
			{% for store in myform.vendor_name %}
			<div class="input-checkbox">
				{{ store.tag}}
				<label for="{{ store.id_for_label }}">
					<span></span>
					{{ store.choice_label }}
				</label>
			</div>
			{% endfor %}
		</div>
	</div>
	</form>
{% endblock  %} 
	

{% block content %}
	{% load humanize %}
	{% for ads in myads.all %}
	<!-- product -->
	<div class="col-md-4 col-xs-6 infinite-container">
		<div class="product infinite-item">
			<div class="product-img">
				<img src="{{ads.link_image}}" alt="">
				<div class="product-label">
					<span class="sale">-{{ ads.disc_off }}%</span>
					{% if ads.created_date.date == time.date %}
					<span class="new">NOVO</span>
					{% endif %}
				</div>
			</div>
			<div class="product-body">
				<p class="product-category">{{ ads.vendor_name }}</p>
				<h3 class="product-name" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><a href="{{ ads.link_vendor}}">{{ads.name}}</a></h3>
				<h4 class="product-price">Kz {{ ads.disc_price|intcomma  }} <del class="product-old-price">Kz {{ ads.price|intcomma }}</del></h4>
				<div class="product-rating">
				</div>
				<div>
					<button class="primary-btn" onclick=" window.open('{{ ads.link_vendor }}','_blank')"> Obter Desconto</button>
				</div>
			</div>
		</div>
	</div>
	<!-- /product -->
	{% endfor %}
{% endblock %}